:root {
  --primary-color: #121212;
  --secondary-color: #222;
  --font-color: #fff;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.card {
  width: 300px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
  text-decoration: none;
  color: var(--font-color);
}

.card .thumb {
  width: 100%;
}

.card p {
  padding: 10px;
  margin: 0;
}

.player-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#videoPlayer {
  width: 90%;
  max-width: 800px; /* Adjust as needed */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}